@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    padding-top: 0rem;
    font-family: 'Anton', sans-serif;
}
.starter-template {
    padding: 3rem 1.5rem;
    margin-left: 4%;
    margin-top: -2%;
}

.nombre-inicial{
    color: #440F71;
}
.nombre-inicial:hover{
    color: goldenrod;
}

#nombreCategoria:hover{
    color: aqua;
}
.saludo-inicial{
    font-family: system-ui;
    color: #5C3287;
}

.nav-style{
    background-color: blueviolet;
}

.nom-lugo{
    margin-left: 100%;
    font-weight: bold;
    color: #fff;
}


.select-nav{
    width: 15%;
    position: absolute;
    margin-top: 1%;
    border-radius: 2rem;
    padding-left: 3%;
    margin-left: -26%;
}

.select-nav:hover{
    cursor: pointer;
    border: 3px solid gold;
    color: darkgoldenrod;
}

.btn-nav{
    border-radius: 2rem;
    margin-left: -90%;
    width: 100%;
    margin-top: 10%;
    background-color: #440F71;
    color: #fff;
}

.btn-nav:hover{
    color: gold;
    border: 0.1px solid gold;
}


.bg-light {
    background-color: #5C3287!important;
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255 / 90%);
    font-size: 200%;
    font-weight: bold;
    margin-left: 10%;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 80px;
    font-size: 100%;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%);
    font-size: larger;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .show>.nav-link{
    color: gold;
}

/** targeta de categorias */
.targeta{
    border-radius: 1.5rem;
}

.targeta:hover{
    background-color: #440F71 !important;
}

.icono{
    border-radius: 1.5rem;
    background-color: #dad1d1;
    padding: 5%;
    margin: 5%;
    width: 100px;
    height: 100px;
} 

.categorias{
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 130%;
}
.comercio{
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif; 
    color: #ffffff;
    font-size: larger;
}

.faIco{
    padding-top: 20%;
    font-size: -webkit-xxx-large;
    color: darkcyan;
}

.faIco:hover{
    color: darkred;
}


/** modal order */
.precio{
    font-family: 'Anton', sans-serif;
    color: #504c4c;
    margin-left: 90%;
}


.modal-order {
    background-color: #440F71;
    padding-top: 0%;
    margin-top: 0%;
    padding-bottom: 1%;
}

.title-order{
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 160%;
}


.nombre-order{
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif; 
    color: #440F71;
    font-size: xx-large;
}

.nombre-Producto{
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif; 
    color: #440F71;
    font-size: x-large;
}

.btn-cerrar{
    border-radius: 1.5rem;
    background-color: #440F71;
    color: #ffffff;
    width: 30%;
}

.btn-cerrar:hover{
    background-color: gold;
    color: #440F71;
    border: 00.1px solid #440F71;
}

.descripcion-order{
    font-family: sans-serif;
}

.modal-content {
   
    border-radius: 1.3rem;
    width: 112%;
}

/** modal Categorias */
.nomEmpresa{
    font-family: 'Anton', sans-serif;
    transform: translateY(-40px);
    color: #fff;
    margin-left: 5%;
    font-size: 1.5rem;
}
.nomEmpresa:hover{
    color: #5C3287;
}

.nombre-Producto{
    font-family: sans-serif;
    margin-top: -12%;
}

.nombre-Producto:hover{
    color: goldenrod;
}

.descripcion-prod{
    font-family: sans-serif;
}

.btn-pedir{
    border-radius: 1.5rem;
    background-color: #5C3287;
    color: #fff;
    font-size: xx-small;
    /* margin-left: 46%; */
    margin-left: 85%;
    transform: translateY(-30px);
}

.btn-pedir:hover{
    background-color: goldenrod;
    color: #5C3287;
}

.precio2 {
    margin-left: 78%;
    color: #505050;
}

.nombre-Producto2{
    margin-top: 10%;
}
.descripcion-Producto2{
    font-family: sans-serif;
    margin-top: -12%;

}
.precio3{
    margin-left: 175%;
    color: #505050;

}

.input-procesar{
    margin-left: 24%;
    position: absolute;
    /* margin-top: 10%; */
    width: 20%;
}

.btn-procesar{
    border-radius: 1.5rem;
    background-color: #5C3287;
    color: #fff;
    font-size: medium;
    margin-left: 46%;
    
}

.btn-procesar:hover{
    background-color: goldenrod;
    color: #5C3287;
    border: 00.1px solid #440F71;
}

.btn-newCat{
    color: rgb(255 255 255 / 90%);
    font-size: larger;
    font-weight: bolder;   
}

.btn-newCat:hover{
    color: gold;
    border: 0.1px solid gold;
}

#name-new{
    font-family: sans-serif;
    font-size: large;
}
#desc-new{
    font-family: sans-serif;
    font-size: large;
}
#color-new{
    font-family: sans-serif;
    font-size: large;
}
#list-new{
    font-family: sans-serif;
    font-size: large;
}
#empre-new{
    font-family: sans-serif;
    font-size: large;
}




/** System Grid */

 @media (max-width: 990px){

    .btn-newCat {
        color: rgb(255 255 255 / 90%);
        font-size: larger;
        font-weight: bolder;
        margin-left: 42%;
        margin-top: -10%;
    }

    .select-nav {
        margin-left: 30%;
        margin-top: -3%;
        width: auto;
    }
    .btn-nav {
        margin-left: 55%;
        width: 21%;
        margin-top: -3%;
    }

    /** modal categorias  */
    .btn-pedir {
        border-radius: 1.5rem;
        background-color: #5C3287;
        color: #fff;
        font-size: xx-small;
        margin-left: 80%;
        transform: translateY(-30px);
    }
/*     
    .btn-nav{
        margin-left: -18%;
        width: 12%;
    } */
}



/** System Grid** telefonos*/

@media (max-width: 576px){

    .btn-newCat {
        color: rgb(255 255 255 / 90%);
        font-size: small;
        font-weight: bolder;
        margin-left: 37%;
        margin-top: -15%;
    }

    .select-nav {
        margin-left: 10%;
        width: 40%;
        padding-left: 5%;
    }

    .btn-nav {
        margin-left: 55%;
        width: 43%;
        margin-top: -3%;
    }

    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 80px;
        font-size: 100%;
        font-weight: bold;
        margin-top: -13%;
        margin-left: 16%;
    }

    .navbar-toggler-icon {
        display: block;
    }

    .modal-content {
        border-radius: 1.3rem;
        width: 100%;
    }

    /* * modal categorias */
    .nomEmpresa{
        font-family: 'Anton', sans-serif;
        transform: translateY(-40px);
        color: #fff;
        margin-left: 5%;
        font-size: 1rem;
    }

    .nombre-Producto {
        font-family: sans-serif;
        margin-top: -57%;
        font-size: small;
    }
    
    .descripcion-prod{
        font-family: sans-serif;
        font-size: 50%;
    }

    .btn-pedir{
        border-radius: 1.5rem;
        background-color: #5C3287;
        color: #fff;
        font-size: xx-small;
        margin-left: 22%;
        transform: translateY(4px);
    }

    .precio2 {
        margin-left: 44%;
        color: #505050;
    }

    .nombre-Producto2 {
        margin-top: 50%;
    }
    
    .input-procesar{
        margin-left: 40%;
        position: absolute;
        /* margin-top: 10%; */
        width: 20%;
    }


    
   
} 